expandable-header {
    display: block;
    background-color: map-get($colors, blanco);
    overflow: hidden;
}
// .fondo_Noti div .Grafica{
//     // background: black;
//     position: relative;
//     height: 500px;
// }
