page-eventosde {
    .GraficaTitulos{
        font-weight: 300;
        padding-top: 30px;
        padding-left: 20px;
    }
    .scroll {
        height: 100%
      }

    #map {
        width: 100%;
        // height: 50%;
        height: 330px;
    }
}
