// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
 $menu-width: 500px;
 $menu-small-width: 500px;  
 @media (min-width: 100%) {
  .menu-content {
  -webkit-transform: translate3d(270px, 0px, 0px) !important;
  width: "calc(100% - 270px)" !important;
  }
  
  .menu {
  z-index: 2 !important;
  box-shadow: -1px 0 2px rgba(0,0,0,.2),1px 0 2px rgba(0,0,0,.2);
  }
  
  .bar-header button.ion-navicon {
  display: none;
  }
  }
  .toolbar-background-md{
    background-color: #fff0;
}
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  rojo1:      #A02329,
  rojoOpaco:  rgba(160, 35, 41, 0.452),
  rojo2:      #BF252F,
  gris:       #A3A3A3,
  warning:    #F1EE21,
  caution:    #F16D21,
  btnLogin:   #BA1426,
  btnCintillas_Ac: #393A3F,
  btnCintillas: #BA1426,
  // 
  principalInm:  #A02329,
  secundarioInm: #f53d3d,
  segmentoInm:   #BF252F,
  principalGob:  #06A4CA,
  secundarioGob: #0DBBBA,
  segmentoGob:   #FFC000,
  verdeChat:  #DCF8C6,
  turismoAzul1: #3B6B8D,
  blanco: #fff,
  transparente: rgba(160, 35, 41, 0),
  btnSEP: #9D2449,
  btnSegment: #691B31,
  btnTituloSegmen: #D4C19C,
  negro:       #222,
  warnig:     #FACB00,
  verde:      #087C08,
  naranja:     #DE560E
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
