// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
    &[class*="appname-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        // mask-position: 50% 50%;
        // padding-top: 2rem;
        margin-top: 4px;
        padding-right: 20%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1.4em;
        font-size: 2.6rem;
        // line-height: 50px;
    }
    // custom icons
    &[class*="appname-pdf"] {
        mask-image: url(../assets/imgs/pdf.svg);
    }
    &[class*="appname-news"] {
        mask-image: url(../assets/imgs/news.svg);
    }
    &[class*="appname-blogs"] {
        mask-image: url(../assets/imgs/blogs.svg);
    }
    &[class*="appname-grafica"] {
        mask-image: url(../assets/imgs/bar-chart.svg);
    }
    &[class*="appname-chat"] {
        mask-image: url(../assets/imgs/conversation.svg);
    }
    &[class*="grafica-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        // mask-position: 50% 50%;
        padding-right: 5%;
        padding-top: 2%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    &[class*="grafica-tematico"] {
        mask-image: url(../assets/imgs/layers.svg);
    }
    &[class*="grafica-geografico"] {
        mask-image: url(../assets/imgs/globe.svg);
    }
    &[class*="grafica-atencion"] {
        mask-image: url(../assets/imgs/time.svg);
    }
    
}
.perfil{
    // background:radial-gradient(center center, circle, black, #1162ac);
    //background: linear-gradient(to top,  #0DBBBA 0%, #06A4CA 100%);
    background-color: #fff0;
    p{
      margin-top: 0px;
      margin-bottom: 5px;
      padding-left: 10%;
      font-size: 20px;
      color: white;
      position: absolute;
    }
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios{
    background-color: #fff0;
}
ion-menu{
    background-color: #fff0;
  .no-scroll .scroll-content{
    background-color: #fff0;
    overflow: hidden;
        .icon {
        font-size: 35px
        ;
        }
    }
    .toolbar-md{
        background-color: #fff0;
        background: rgba(0,0,0,0);
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
        border: 0px;
    }
    .footer-ios .toolbar-ios:first-child .toolbar-background-ios {
        background-color: #fff0;
        background: rgba(0,0,0,0);
    }
    // 
   
   
    // 
    .list-ios {
        margin: -1px 0 7px;
    }
    .menu-inner > ion-header, .menu-inner > ion-content, .menu-inner > ion-footer{
        /* background-image: url('../assets/imgs/Image_2.png'); 
        background-repeat: no-repeat; 
        background-size: 100% 100%; */
        //background-color: #6DB3F2;
        //opacity: 0.5;
        background-color: #06A4CA;
        // background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../assets/imgs/MenuSplash.jpg");
        // background-repeat: no-repeat;
        // background-size: 100% 100%;
    }
    ion-header {
        position: initial;
    }
    .toolbar-background-md{
        background-color: #fff0 ;
        background: rgba(0,0,0,0);
    }
    .toolbar-background{
        background-color: #fff0 ;
        background: rgba(0,0,0,0);
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        background-color: #fff0;
        background: rgba(0,0,0,0);
    }
    .item-ios {
        background-color: #ffffff0f;
        background: rgba(0,0,0,0);
    }
    .list-android > .item-block:last-child, .list-android > .item-wrapper:last-child .item-block {
        background-color: #fff0;
        background: rgba(0,0,0,0);
    }
    .item-md {
        background-color: #ffffff0f;
        background: rgba(0,0,0,0);
    }
    .ion-header{
        background-color: #ffffff0f ;
        background: rgba(0,0,0,0);
    }
}
/* .ion-nav {
    #nav{
      .menu-content.menu-content-reveal.menu-content-open{
        transform: translateX(400px);
      }
    }
  }
  menu-content menu-content-reveal menu-content-open{
    transform: translateX(400px);
  } */
/* ion-menu{
    width: 400px;
  }
  .menu.menu-left{
	width: calc(100% - 0px);
}
.menu-open .menu-content{
	transform: translate3d(calc(100% - 70px), 0px, 0px);
} */